.navbar {
  max-width: 100vw;
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

.navbar__logo img {
  width: 100px;
  height: 100px;
}

.navbar__links {
  display: flex;
  list-style: none;
}

.navbar__links li {
  margin: 0 15px;
  font-size: 1.2rem;
  color: #f5f5f5;
  cursor: pointer;
  
  a {
    text-decoration: none;
    color: inherit;
  }
}

.navbar__burger {
  display: none;
  color: #f5f5f5;
  font-size: 1.8rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar__links {
    display: none;
  }

  .navbar__burger {
    display: block;
  }
}
