.about {
  padding: 50px;
  text-align: center;
  background-color: #f5f5f5;
  color: #333;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .about-text {
    max-width: 50%;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .about {
    flex-direction: column;
    padding: 30px 20px;
    font-size: 1.2rem;

    .about-text {
      min-width: 90%;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 300px;

      h2 {
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
        font-weight: 700;
      }

      p {
        font-size: 1.1rem;
        line-height: 1.6;
      }
    }
  }
}